<span id="<%= dom_id(post) %>">
  <% favourite = post.favourites.find_by_user_id(current_user) if current_user %>

  <% if favourite %>
    <%= link_to fa_icon("heart"), post_favourite_path(post, favourite), method: :delete, remote: true %>
  <% else %>
    <%= link_to fa_icon("heart-o"), post_favourites_path(post), method: :post, remote: true %>
  <% end %>

</span>  
  